<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qualcomm.snapdragon.spaces.spacescontroller">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>
        <activity
            android:name=".ControllerActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_controller"
            android:theme="@style/Theme.SpacesController" />
    </application>

</manifest>